@keyframes fadein {
	0% {
		background-color: #000;
	}
	100% {
		background-color: #261313;
	}
}
html {
  margin: 0;
	animation: fadein 1s linear;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background: #261313;
  color: #CCCCCC;
	text-shadow: 0 0 5px #5e5e5e;
  font-family: 'Consolas';
}
a {
  color: #c34141;
	text-shadow: 0 0 5px #942929;

	transition-property: color text-shadow;
	transition-duration: 100ms;
	transition-timing-function: linear;
}
a:visited {
  color: #ff8080;
	text-shadow: 0 0 5px #9b5050;
}
a:active {
  color: #6b391f;
	text-shadow: 0 0 5px #371e10;
}
a:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #5e5e5e;
}
.inactivelink {
	color: #005c8a;
	pointer-events: none;
}
.center {
	right: 50%;
	transform: translateX(50%);
	position: absolute;
}
.center-wide {
	left: 27%;
	/*transform: translateX(25%);*/
	position: absolute;
}
.bottom {
	left: 5px;
	position: fixed;
	bottom: 5px;
	width: 100%;
	color: #757575;
}
button {
	color: #750000;
	background-color: #fe6262;
	border-width: 3px;
	border-radius: 3px;
	border-color: #fe6262;
	border-style: solid;
	width: 10cap;
	height: 3cap;
	box-shadow: 0 0 5px #9c4444;
	transition-property: background-color border-color box-shadow;
	transition-duration: 100ms;
	transition-timing-function: linear;
}
button:hover {
	background-color: #ff9494;
	border-color: #ff9494;
	box-shadow: 0 0 5px #9f6060;
}
button:active {
	background-color: #862828;
	border-color: #862828;
	box-shadow: 0 0 5px #683636;
}
button:disabled {
	color: #2e0000;
	background-color: #8f3838;
	box-shadow: 0 0 5px #3c1a1a;
	
}