html {
    background-color: #000000;
    color: rgb(170,170,170);
    position: absolute;
    font-family: 'PxPlus IBM VGA 8x16';
    line-height: 16px;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 75%;
    text-align: center;
}
@font-face {
    font-family: 'PxPlus IBM VGA 8x16';
    src: url("PxPlus_IBM_VGA_8x16.ttf");
    font-smooth: never;
    margin: 2px;
}
@font-face {
    font-family: 'PxPlus IBM EGA 8x8';
    src: url("PxPlus_IBM_EGA_8x8.ttf");
    font-smooth: never;
    margin: 2px;
}
.highlight {
    color: #ffffff;
}
::selection {
    background-color: rgb(0,0,170);
    color: rgb(255,255,85);
}
a {
    color: rgb(85,255,255);
    text-decoration: none;
}
a.disabled {
    color: rgb(170,0,0);
}
a.disabled:hover {
    color: rgb(255,85,85);
}
a:visited {
    color: rgb(0,170,170);
}
a:hover {
    color: rgb(85,255,255);
}
a:active {
    color: rgb(85,255,85);
}
button {
    background-color: #000000;
    border-style: none;
    color: rgb(0,170,0);
    font-family: 'PxPlus IBM VGA 8x16';
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
button:hover {
    color: rgb(85,255,85);
    cursor: pointer;
}
hr {
    border-width: 1px;
    border-style: solid;
}
sup {
    font-size: 8px;
    font-family: 'PxPlus IBM EGA 8x8';
}